// Breakpoints
// 600px and DOWN: phones
// 600px and UP: portrait tablets and large phones
// 768px and up: landscape tablets
// 992px and up: laptops/desktops
// 1200px and up: large laptops and desktops

// Colors
$main-background: rgb(246, 246, 254);
$button-background: rgb(48, 101, 248);
$border: rgb(191, 191, 191);
$comment-background: rgb(255, 255, 255);
$CTA-background: rgb(88, 89, 137);
$error: red;
$footer-background: rgb(7, 4, 57);
$word-color-1: rgb(246, 246, 254);
$word-color-2: rgb(7, 4, 57);
$word-color-3: rgb(60, 159, 143);